<script id="template-row" type="text/x-handlebars-template">
  <div class="row">
        <input type="text" class="datePicker">
    </div>

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
  // compile the template
  var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
  // execute the compiled template and print the output to the console
  console.log(template({ doesWhat: "rocks!" }));
</script>

</script>
<button onclick="changeDate()">click</button>