<head>
  <link rel="stylesheet" href="css/style.css">
  <script src="/sequelizeCLi/public/assets/js/calendar.js"></script>
</head>

<div class="container">
	<div class="row">
		<h1>Calendar of Events</h1>
	</div>
	<div class="row">
		<aside class="eventKey">
			<h2>Event Key</h2>
			<div class="campingTrip">Camping Trip</div>
			<div class="campingTrip">Camping Trip</div>
			<div class="climbing">Climbing Trip</div>
			<div class="fireworks">Fireworks Show</div>
		</aside>
		<article>
      <h3 class="monthYear"><span>,</span> November 2020 </h3>
		  <ul class="days">
		    <li>Sun</li>
		    <li>Mon</li>
		    <li>Tues</li>
		    <li>Wed</li>
		    <li>Thurs</li>
		    <li>Fri</li>
		    <li>Sat</li>
		  </ul>
			<ul class="dates">
        <li class="fade"><span class="date">29</span></li>
        <li class="fade"><span class="date">30</span></li>
				<li><span class="date">1</span></li>
				<li>
          <section class="dateWrapper">
					<span class="date">2</span>
					<div class="multidayHolder"><a href="#" class="multidayEvent campingTrip length-2">Great Big Hike <span>2 - 3</span></a></div>
          </section>
				</li>
				<li class="current today">
            <section class="dateWrapper">
              <span class="date">3</span>
              <div class="multidayHolder"><a href="#" class="climbing secondaryDay"> Camping Trip <span>2 - 3</span></a></div>
              <a href="#" class="campingTrip"><b>8:30 AM</b> Camping Trip</a>
              <a href="#" class="campingTrip"><b>4:30 PM</b> Camping Trip Wrap Trip</a>
              <a href="#" class="expand"><span> + </span></a>
             </section>
		    	</li>
				<li><span class="date">4</span>
          <a href="#" class="holiday">Thanksgiving <span>26th of November</span></a>
		        </li>
				<li><span class="date">5</span></li>
				<li><span class="date">6</span></li>
				<li><span class="date">7</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">8</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">9</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">10</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">11</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">12</span></li>
				<li><span class="date">13</span></li>
				<li><span class="date">14</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">15</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li>
					<span class="date">16</span>
					<div class="multidayHolder"><a href="#" class="campingTrip length-3">Camping Trip <span>16 - 18</span></a></div> <a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a>
				</li>
				<li>
					<span class="date">17</span>
					<div class="multidayHolder"><a href="#" class="campingTrip secondaryDay">Camping Trip <span>16 - 18</span></a></div> <a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a>
				</li>
				<li>
					<span class="date">18</span>
					<div class="multidayHolder"><a href="#" class="campingTrip secondaryDay">Camping Trip <span>16 - 18</span></a></div> <a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a>
				</li>
				<li>
					<span class="date">19</span>
					<a href="https://www.kingsoopers.com/f/summer-grilling" target="_blank" class="fireworks"><b>Major fireworks event</b> Bring food</a>
				</li>
				<li><span class="date">20</span></li>
				<li><span class="date">21</span> <a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">22</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">23</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">24</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">25</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">26</span></li>
				<li><span class="date">27</span></li>
				<li><span class="date">28</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">29</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li><span class="date">30</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
		     	<li><span class="date">31</span><a href="#" class="hikingTrip"><b>8:30 AM</b> Hiking Trip</a></li>
				<li class="fade"><span class="date">1</span></li>
				<li class="fade"><span class="date">2</span></li>
			</ul>
      <div class="calendarNav">
      	<a href="#prevDay" class="prevDay">Previous Day</a> 
      	<a href="#today" class="today">Current Day</a>
      	<a href="#" class="nextDay">Next Day</a>
      </div>
		</article>
	</div>
</div>