{{!-- Logo --}}
<form>
   <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <label>
         <input type="checkbox" checked="checked" name="remember">
         Remember Me
      </label>
   </div>
   <div class="container">
      <button class="user-login" type="submit">Login</button>
      <button class="new-user" type="button">New User</button>
   </div>
</form>