<div class="container">
  <div class="search">
    <select id="searchCriteria">
      <option value = "campsites">Campsites</option>
      <option value = "facilities">Facilities</option>
      <option value = "recAreas">Rec Areas</option>
    </select>
    <input type="text" class="searchTerm" placeholder="What are you looking for?">
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>