<div class="searchArea">
<button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Rec Areas near ME!</button>
<form class="form-inline my-2 my-lg-0 search">
      <select id="searchCriteria" class="form-control mr-sm-2">
        <option value="Campsites">Campsites</option>
        <option value="Facilities">Facilities</option>
        <option value="RecAreas">Rec Areas</option>
      </select>
      <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">   
</form>
  <div class="scroll"id="searchResults">

  </div>
</div>
