<img id="logo" src="/assets/img/loginLogo.png">
<form class="signup">
      <label for="username"><b>Username</b></label>
      <input class="usernameSU"id="username-input"type="text" placeholder="Enter Username" name="username" required>

      <label for="email"><b>Email</b></label>
      <input class="emailSU"id="email-input"type="text" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input class="passwordSU"id="password-input" type="password" placeholder="Enter Password" name="password" required>
      
      <label id="rememberBox">
         <input type="checkbox" checked="checked" name="remember">
         Remember Me
      </label>

      <button class="userBtn btn1" type="submit">Sign Up!</button>
      <button class="userBtn btn2" type="button">New User</button>
</form>