<nav class="navbar navbar-expand-lg navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="main"><img src="/assets/img/LogoIcon.png" height="50px" width="auto"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/profile/:id"><img src="/assets/img/ProfileIcon.png" height="50px" width="auto"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link log-out" href="/">Log Out</a>
      </li>
    </ul>

 </nav>
<div>
    <form class="form-inline my-2 my-lg-0 search">
      {{!-- <select id="searchCriteria" class="form-control mr-sm-2">
        <option value="Campsites">Campsites</option>
        <option value="Facilities">Facilities</option>
        <option value="RecAreas">Rec Areas</option>
      </select>
      <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Search" aria-label="Search"> --}}
      <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Rec Areas near Me!</button>
    </form>
    <div class="scroll" id="searchResults">

    </div>
</div>

<body>

  <iframe id="map"
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDOt5OJuTBJwr1L9BKMazDTaa_f1ISG8QU&center=" + {{ lat }} + "," + {{ lng }} + "&zoom=18&maptype=satellite"
  ></iframe>



  {{>search}}
  


</body>