<img id="logo" src="/assets/img/loginLogo.png">
<form class="login">
      <label for="username"><b>Username</b></label>
      <input id="username-input"type="text" placeholder="Enter Username" name="username" required>
      {{!-- <label for="email"><b>Email</b></label>
      <input class="emailLI"id="email-input"type="text" placeholder="Enter Email" name="email" required> --}}
      <label for="password"><b>Password</b></label>
      <input id="password-input" type="password" placeholder="Enter Password" name="password" required>
      <label id="rememberBox">
         <input type="checkbox" checked="checked" name="remember">
         Remember Me
      </label>
      <div class="testing-btns">
       <button class="login-btn userBtn btn1" type="submit">Login</button>    
      <div class="sign-up-btn hidden">
           <button class="signupBtn userBtn btn1 " type="submit">Submit</button>
     </div>
      {{!-- <button class="loginBtn userBtn btn1" type="submit">Login</button> --}}
      <div class="newUser">
      <button class="newuserBtn userBtn btn2" type="button">New User</button>
      </div>
     </div>
{{!-- 
       <button class="signupBtn userBtn btn1" type="submit">Sign Up!</button> --}}
</form>
{{!-- <form class="signup hidden">
      <label for="username"><b>Username</b></label>
      <input class="usernameSU"id="usernameSU-input"type="text" placeholder="Enter Username" name="username" required>
      {{!-- <label for="email"><b>Email</b></label>
      <input class="emailSU"id="email-input"type="text" placeholder="Enter Email" name="email" required> --}}
      <label for="password"><b>Password</b></label>
      <input class="passwordSU"id="passwordSU-input" type="password" placeholder="Enter Password" name="password" required>
      <label id="rememberBox">
         <input type="checkbox" checked="checked" name="remember">
         Remember Me
      </label>
      <button class="userBtn btn1" type="submit">Sign Up!</button>
      {{!-- <button class="userBtn btn2" type="button">New User</button> --}}
</form> --}}