
<h1>{{this.username}} Campify Profile</h1>

<h2>General Info</h2>
<p>Username: {{this.username}}</p>
<p>Email: {{this.email}}</p>
<p>Password: {{this.password}}</p>

<h2>Your Saved Campifies</h2>
<ul>{{#each campifies}}
  {{/each}}

<h2>Your Reviews</h2>
<ul>
  {{#each review}}
  {{/each}}
</ul>


         