<div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-2 mt-4">
          <a class="btn btn-light" href="/blog">Write a Review</a>
        </div>
      </div>
      <div class="col-md-5 offset-md-3">
        <form id="cms">
          <div class="form-group">
            {{!-- link from item the user wants to write a review about, user must add item to their account in order to write a review, then we add to the table where all of the specific user's data is --}}
            <label for="title">Title:</label>
            <div class="container">
         <div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-2 mt-4">
        <a class="btn btn-light" href="/blog">Write a Review</a>
      </div>
    </div>
    <div class="col-md-5 offset-md-3">
      <form id="cms">
        <div class="form-group">
          {{!-- link from item the user wants to write a review about, user must add item to their account in order to write a review, then we add to the table where all of the specific user's data is --}}
          <label for="title">Title:</label>
            <input type="text" class="form-control" id="title">
            <br />
            <label for="body">Body:</label>
            <textarea class="form-control" rows="10" id="body"></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>